In [1]:
n = 5
def fun():
    print(n)
#     n = 10    # hoisting : Will give error

fun()

5

In [2]:
n

5

In [3]:
li = [1,2,3,4,5,6]
def remove_odd(li):
    li[:] = li[::2]
    
remove_odd(li)

In [4]:
li

[1, 3, 5]

In [5]:
# this works like
# li[0:2] = [54,89]      
# means change items of index 0 to 1 with 54 and 89
# if we put more in range like 0:3 then in this case(li[0:3] = [54,89], index 2 item will be deleted)

In [6]:
def square(x):
    return x*x

In [7]:
bill = square

In [8]:
bill == square

True

In [9]:
bill(4)

16

In [10]:
a = lambda x : x * x

In [11]:
a(5)

25

In [12]:
li = [1,2,3,4,5]
map?

In [20]:
li2 = list(map(lambda x : x ** 2,li))

In [21]:
li2

[1, 4, 9, 16, 25]

In [23]:
li = [(78,67), (11,22)]

In [29]:
list(map(lambda item: (sum(item), item[0] - item[1]), li))

[(145, 11), (33, -11)]

In [61]:
a = [[y * x for x in range(1,11)] for y in range(1,11)]
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [48]:
line = "67, 56, 12, 34"

In [50]:
list(map(int, input().split(", ")))

11, 22, 33, 44

[11, 22, 33, 44]

In [57]:
type(int)

type

In [58]:
li = list(range(20))

In [59]:
list(filter(lambda x: x % 4 == 0, li))

[0, 4, 8, 12, 16]

In [95]:
a = ([1,2], [3,4], [5,6])

In [96]:
a[0][1] = 9

In [97]:
a

([1, 9], [3, 4], [5, 6])

In [173]:
class Human:
    def __init__(self, name = "Gumnaam"):
        self.name = name
        self.hands = 2
    def __repr__(self):
        return self.name
    def fun(self, a, b=[]):
        b.append(a)
        print(b)

In [174]:
kunal = Human("Kunal Kushwaha")
kunal.name

'Kunal Kushwaha'

In [175]:
print(kunal)

Kunal Kushwaha

In [176]:
kunal.fun(1)

[1]

In [170]:
kunal.fun(2)

[1, 2]

In [171]:
rahul = Human("Rahul")

In [172]:
rahul.fun(3)

[1, 2, 3]

In [181]:
hash(132454678876543678987654678)

547700904538724618

In [182]:
class Human:
    hands = 2

In [183]:
kunal = Human()

In [186]:
Human.hands = 3
kunal.hands

3

In [187]:
class Human:
    population = 0   # static value
    def __init__(self, name="Gumnaam"):
        self.name = name
        Human.population += 1

In [188]:
kunal = Human("Kunal")
anuj = Human("Anuj")

In [191]:
Human.population

2

In [198]:
class Car:
    def __init__(self):
        self.doors = 4
        self.engines = 1
        self.wheels = 4
    def start(self):
        print("starts like a generic car")
    def stop(self):
        print("stops like a generic car")

In [240]:
class Mustang(Car):
    def __init__(self, engines, slogan):
        super().__init__()
        self.engines = engines
        self.slogan = slogan
    def start(self):
        print("starts like a mustang")

In [241]:
c = Mustang(2, "Maa ka dulara")

In [242]:
c.engines

2

In [243]:
c.slogan

'Maa ka dulara'

In [260]:
class A:
    def hi(self):
        print("a")
    def hi(self):
        print("b")

In [261]:
first = A()

In [263]:
first.hi()   # b

b

In [265]:
class Panga:
    def __init__(self):
        self._hello = 4