In [ ]:
a = 67

In [ ]:
c = 100 + 77j

In [ ]:
c.real

In [ ]:
c.imag

## H2

* item 1
* itme 2

```
    print("this is a code block")
```

In [ ]:
-6%10


# to get -6, we need to go from -10 to -6, we always go from left to right on number line.
# So, we go 4 steps towards +v1, hence -6%10 = 4

In [ ]:
-4%3

In [ ]:
# logical operators

# and, or - binary operator i.e. requires 2 values
# not - urinary i.e. requires 1 value

In [ ]:
-10%-3

In [ ]:
year = 2000

if year % 4 == 0:
    print("leap")
else:
    print("not leap")

In [ ]:
# -n%k = k - n%k
# n % -k = -k + n%k
# -n%-k = -n%k

In [ ]:
n = 5
lines = 0
while lines < n:
    clap = 0
    while clap < n - lines:
        print("* ", end="")
        clap +=1 
    print()
    lines += 1

In [ ]:
n = 5
rows = 0
while rows < n:
    cols = 0
    while cols < n - rows:
        print("* ", end="")
        cols +=1 
    print()
    rows += 1

In [2]:
n = 5
vrows = 0
rows = 0
while vrows < 2*n - 1:
    cols = 0
    while cols < rows:
        print("* ", end="")
        cols +=1 
    print()
    if vrows < n - 1:
        rows += 1
    else:
        rows -= 1
    vrows += 1

*
* *
* * *
* * * *
* * *
* *
*

In [3]:
# Iterables

In [4]:
line = "hello world"

In [7]:
for ch in line:
    print(ch)

h
e
l
l
o

w
o
r
l
d

In [10]:
li = [23,"hello", 45.4]

In [11]:
li.extend("hi")

In [12]:
li

[23, 'hello', 45.4, 'h', 'i']

In [13]:
li.remove?

In [14]:
li.sort?

In [15]:
li.insert(1,'peace')

In [16]:
li

[23, 'peace', 'hello', 45.4, 'h', 'i']

In [19]:
li[-2:-3]

[]

In [21]:
li[-2:-5:-1]

['h', 45.4, 'hello']

In [24]:
tables = [[y * x for x in range(1,11)] for y in range(1,11)]
for table in tables:
    print(table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [51]:
a = 10
b = 20
a,b = b,a

# here first rhs tuple is create, 
# object of tuple is made and the work of it's reference is done
# this tuple object does not have a reference
# it is then assigned to the references on the left

In [52]:
a,b = "12"

In [53]:
a

'1'

In [54]:
b

'2'

In [55]:
d = 5,4

In [56]:
type(d)

tuple

In [58]:
# a,b = 3,4,5 # Error
# a,b,c = 3,4 # Error

In [64]:
int(6.9)

6

In [65]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [66]:
tuple("Hello")

('H', 'e', 'l', 'l', 'o')

In [69]:
a = range(10)
type(a)

range

In [70]:
a

range(0, 10)

In [71]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
sec = li + [57]  # new object is created
sec[2] = 77
li # will not change

[23, 'peace', 'hello', 45.4, 'h', 'i']

In [78]:
# SET

In [81]:
s = set("hello")

In [82]:
# s[0] # Error

In [87]:
# Dictionary

In [88]:
d = {}

In [100]:
d["apple"] = "A sweet red fruit"
d["mango"] = "King of fruits"

In [101]:
d

{'kunal': 'kushwaha',
 'key': 'value',
 'apple': 'A sweet red fruit',
 'mango': 'King of fruits'}

In [103]:
list(d.items())

[('kunal', 'kushwaha'),
 ('key', 'value'),
 ('apple', 'A sweet red fruit'),
 ('mango', 'King of fruits')]

In [108]:
d.keys()
d.values()

dict_values(['kushwaha', 'value', 'A sweet red fruit', 'King of fruits'])

In [147]:
r1 = range(0, 10)

In [148]:
r2 = range(100, 110)

In [162]:
z = zip(r1, r2)  
# will pick one item form r1 and r2 and will make a tuple
# cannot zip again, it will get exhausted. meaning if you do list(z) again, it will be empty

In [163]:
data = list(z)

In [164]:
dict(data)

{0: 100,
 1: 101,
 2: 102,
 3: 103,
 4: 104,
 5: 105,
 6: 106,
 7: 107,
 8: 108,
 9: 109}

In [173]:
dict({range(0,2), range(100,102)})  # iterable of iterable and the length of the iterable inside should be 2

{100: 101, 0: 1}

In [174]:
line = "aabbb c d c"
d = {}
for ch in line:
    if ch in d:
        d[ch] += 1
    else:
        d[ch] = 1

In [175]:
d

{'a': 2, 'b': 3, ' ': 3, 'c': 2, 'd': 1}